{%- if template.name == 'index' -%}
  {%- assign presswall_page_type = 'homepage' -%}
{%- elsif template.name == 'product' -%}
  {%- assign presswall_page_type = 'product' -%}
{%- endif -%}

<div
  class="presswall-loading presswall-live-loader"
  {% if presswall_page_type != blank %}
    data-page-type="{{ presswall_page_type }}"
  {% endif %}
  {% if product %}
    data-product-id="{{ product.id }}"
  {% endif %}
>
  Loading press strip…
</div>