{%- assign pw_meta = shop.metafields.app.storefront_config.value -%}
{%- if pw_meta == blank -%}
  {%- assign pw_meta = shop.metafields['$app'].storefront_config.value -%}
{%- endif -%}
{%- if pw_meta.fallback != blank -%}
  {%- assign pw_config = pw_meta.fallback -%}
{%- else -%}
  {%- assign pw_config = pw_meta -%}
{%- endif -%}

<div
  class="presswall-root"
  data-presswall-root
  data-proxy-url="{{ shop.url }}/apps/presswall/config"
>
  {%- if pw_config != blank and pw_config.publishers != blank -%}
    <script type="application/json" data-presswall-config>
      {{ pw_config | json }}
    </script>
  {%- endif -%}
  <div class="presswall-loading presswall-live-loader">
    Loading press strip…
  </div>
</div>
