<div
  class="presswall-root"
  data-presswall-root
  data-proxy-url="{{ shop.url }}/apps/presswall/config"
>
  <div class="presswall-loading presswall-live-loader">
    Loading press strip…
  </div>
</div>
