{% schema %}
{
  "name": "Presswall",
  "target": "section",
  "stylesheet": "presswall.css",
  "javascript": "presswall.js",
  "settings": [
    {
      "type": "paragraph",
      "content": "Configure outlets and styling in the Presswall app admin."
    }
  ]
}
{% endschema %}

<div
  class="presswall-root"
  data-presswall-root
  data-proxy-url="{{ shop.url }}/apps/presswall/config"
>
  <div class="presswall-loading">Loading press logos...</div>
</div>